<!DOCTYPE html>
<html lang="en">
  <%= erb :header, :layout => false %>
  <body>
    <div class="container form-sendbanana">
        <h2 class="form-sendbanana-heading">Share a Banana <img class="inline-banana" src="/img/inline_banana.png"></img></h2>

	<% if @quantity_error %>
	<%= "<b>Error:</b> #{@quantity_error}<br>" %>
	<% end %>

	<% if @receiving_error %>
	<%= "<b>Error:</b> #{@receiving_error}<br>" %>
	<% end %>

	<% if @sending_error %>
	<%= "<b>Error:</b> #{@sending_error}<br>" %>
	<% end %>

        <% if @recaptcha_error %>
	<%= "<b>Error:</b> #{@recaptcha_error}<br>" %>
	<% end %>

	<br>
	<button class="btn btn-large btn-danger" onclick="window.history.back()"><i class="icon-white icon-arrow-left"></i></button>
        <%= erb :footer, :layout => false %>
    </div>
  </body>
</html>
