<!DOCTYPE html>
<html lang="en">
  <%= erb :header, :layout => false %>
  <body>
    <div class="container form-sendbanana">
        <h2 class="form-sendbanana-heading">Share a Banana <img class="inline-banana" src="/img/inline_banana.png"></img></h2>
	<% if @quantity_error %>
	<%= "<b>Error:</b> #{@quantity_error}" %>
	<% end %>
	<br>
	<% if @receiving_error %>
	<%= "<b>Error:</b> #{@receiving_error}" %>
	<% end %>
	<br>
	<% if @sending_error %>
	<%= "<b>Error:</b> #{@sending_error}" %>
	<% end %>
	<br>
        <% if @recaptcha_error %>
	<%= "<b>Error:</b> #{@recaptcha_error}" %>
	<% end %>
        <br>
	<br>
	<button class="btn btn-large btn-danger" onclick="window.history.back()"><i class="icon-white icon-arrow-left"></i></button>
    </div> <!-- /container -->
    <%= erb :footer, :layout => false %>
	
    <!-- Le javascript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
